body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main{
  display: flex;
      width: 1300px;
      height: 600px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
  
  background-color: rgb(179, 177, 177);
  
}
.login{
  border:2px solid black;
  padding: 2%;
  width: 50%;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #f3efef;
  margin-bottom: 20px;
}
.detail{
  
  width: 50%;
  height: 100%;
  padding: 20px;
  background-color: #f9f5f5;
			
      
}
.detail input{
  align-items: center;
  margin: 2%;
  padding:2%;
}
.img{    width: 50%;

  background-image: url("https://img.freepik.com/premium-vector/earthquake-scene-with-cartoon-character_29937-7625.jpg?w=2000"
  );
  background-size: cover;
  margin-top: 20px;
  margin-left: 20px;
  border:2px solid black;
  margin-bottom: 20px;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
